<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/slider.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="slider">
        <img src="../../Static/JPG/london.jpg" alt="Лондон" class="slide">
        <img src="../../Static/JPG/newyork.jpg" alt="Нью-Йорк" class="slide">
        <img src="../../Static/JPG/spb.jpg" alt="Санкт-Петербург" class="slide">
    </div>
    <div>
        <button class="prev">Previous</button>
        <button class="next">Next</button>
    </div>
    <script type="text/javascript" src="../Static/JS/slider.js"></script>
</body>